/* ResultStyles.css */

.resultMain {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.resultSearchContainer {
  height: 40px;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 50px;
}